.about {
    padding: 50px;
    text-align: center;
  }

  .about h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  .about p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  .links a {
    margin: 10px;
    text-decoration: none;
    color: #FF5733;
    font-size: 1.2rem;

  }
  p a{
    background: rgb(11, 240, 38);
    color: #333;
    font-size: 20px;
  }
